html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.page-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar-image-container {
  display: none;
}

@media (min-width: 834px) {

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 768px;
    max-width: 478px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 20px;
    font-family: sans-serif;
  }

  .page-header {
    width: 100%;
    display: flex;
  }

  .header-inner {
    width: 100%;
  }

  .logo {
    max-height: 43px;
    max-width: 227.29px;
    margin-bottom: 20px;
    display: block;
  }

  .header-divider {
    border: 0;
    border-top: 1px solid #C1BBB3;
    width: 100%;
    margin: 0;
  }

  .login-container {
    display: flex;
    color: #000000;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .login-card {
    width: 100%;
  }

  .powered-with {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
  }

  .identity-bold {
    font-weight: 700;
  }

  .signin-app {
    font-size: 36px;
    font-weight: 700;
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  }

  .input-group label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .input-group input {
    max-width: 392px;
    height: 45px;
    border: 1px solid #544E4E;
    background-color: #fff;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
  }

  .input-group input:focus {
    border-color: #544E4E;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px #0F68B2;
  }

  .login-button {
    width: 167px;
    height: 48px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #EB1700;
    color: #ffffff;
    border: none;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .form-links {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 400;
  }

  .email-us {
    text-decoration: underline;
    color: #000000;
  }

  .sign-up {
    text-decoration: underline;
    color: #EB1700;
  }

  .content-footer {
      width: 100%;  
      margin-top: auto;
  }

  .divider {
    border: 0;
    border-top: 1px solid #C1BBB3;
    margin-bottom: 15px;
  }

  .privacy-link {
    font-size: 16px;
    color: #212121;
    text-decoration: underline;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .sidebar-image-container {
    display: block;
    width: 30vw;
    height: 100vh;
    position: sticky;
    top: 0;
    right: 0
  }

  .sidebar-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}